@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

$white:#F4F1DE; 
$red:#e07a5f;
$blue:#3d405b;
$green:#81b29a;
$yellow:#f2cc8f;


body {
    font-family: 'Oswald', sans-serif;
    background-color: $white;
    max-width: 1920px;
    margin: 0 auto;
}

.header{
    background-color: $red;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    &__logo{
        width: 200px;
        margin-right: 5%;
    }
    &__button{
        font-family: 'Oswald', sans-serif;
        margin-right: 5%;
        background-color: $yellow;
        cursor: pointer;
    }
}
.nav-panel{
    display: flex;
    width: 50%;
    justify-content: space-around;
    &__element{
        display: flex;
        background-color: $yellow;
        margin-right: 10%;
        text-decoration: none;
        color: $blue;
        width: 200px;
        height: 30px;
        align-items: center;
        justify-content: center;
        transition-property:color, background-color;
        transition-duration: .3s;
        &:hover{background-color: #b89968;
                color:$white

        }
    }
}
.h1-heading{
    text-align: center;
}

.card{
    width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: $green;
    margin-bottom: 50px;
    &__picture{
        width: 80%;
    }
}
.selection{
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-around;
}
footer{
    display: flex;
    align-content: center;
    background-color: $red;
    height: 60px;
}

.svg{
    animation: shine  2s infinite ease-in-out;
    animation-direction: alternate;
    margin: 0 auto; 
    display: block;
}

@keyframes shine{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

@media (max-width:574px){

    .header{
        font-size: 0.5em;
        &__logo{
            width: 100px;
        }
        &__button{
            font-size: 0.5em;
        }
    }
}
